ul {
    text-align: center;
    margin: 10px;
    background: #d4af37;
  }
  
  li {
    display: inline;
    font: white;
    margin: 30px;
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
   font-family: "Notable", sans-serif;
   color: #d4af37;
  }

h5 {
font-family: "Notable", sans-serif;
font-size: 30px;
color: white;
}

h4 {
text-align: center;
font-color: black;
font-size: 20px;
}

h3 {
font-color: grey;
}

h3 {
font-size: 20px;	
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
text-decoration: none;
}

p, li, h3, h5, h6 {
 font-family: "Didact Gothic", sans-serif;
}

h2 {
 font-size: 50px;
 text-decoration: none;
 font-color: black;
font-family: "Wes", serif;
text-align: center;
}

/* unvisited link */
a:link {
	color: white;
}

img, blockquote {
text-align: center;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

/* visited link */
a:visited {
	color: black;
}

/* mouse over link */
a:hover {
	color: purple;
}

/* selected link */
a:active {
	color: pink;
}

