 /* Each post as a box */
  .entry {
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px; 
  }
  
.column {
  float: left;
  padding: 10px;
}

/* Middle column */
.column.middle {
  width: 75%;
 height: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

ul {
    text-align: center;
    margin: 10px;
    background: #d4af37;
  }

img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 200px;
}
 
  li {
    display: inline;
    font: white;
    margin: 30px;
    font-size: 20px;
  }

.grid { 
 margin-top: 20px;
  width: 75%;
 margin-left: 15px;
}

.main {
  margin-bottom: 20px;
  margin-top: 20px;
 display: inline;
 width: 75%;
}
  
  h1 {
    font-size: 70px;
   font-family: "Notable", sans-serif;
   color: #d4af37;
  }

h4 {
font-size: 50px; 
font-family: "Notable", sans-serif;
color: #d4af37;
text-align: center;
display: inline;
 margin-top: 15px;
padding: 15px 15px;
}

header {
background: url ('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/70770812_2359497090965764_4260094613982806016_o.jpg?_nc_cat=104&_nc_oc=AQnaEgizL0rO5NQ1gtKzGN1wrEx71UcJyMUG7HnybiEMzfrqkyteELgAB9hjvABZj5w&_nc_ht=scontent-lga3-1.xx&oh=512be7a31e77730619456fb091ec532c&oe=5E2DBDF3');
}

.button {
  background-color: black;
  border: none;
  color: white;
  float: right;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button1 {
  font-size: 12px;
}

a {
text-decoration: none;
}

h3 {
font-family: "Wes", serif;
font-size: 40px;
text-align: center;
font-color: #d4af37;
}


h3 {
font-size: 0px;	
}

p, li, h3, h5, h6 {
 font-family: "Didact Gothic", sans-serif;
}

h2 {
 font-size: 30px;
 text-decoration: none;
 font-color: black;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
   height:100%;
}

#header {
   padding:10px;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

.footer {
background-color: #d4af37;
}

/* unvisited link */
a:link {
	color: white;
}

/* visited link */
a:visited {
	color: white;
}

/* mouse over link */
a:hover {
	color: black;
}

/* selected link */
a:active {
	color: pink;
}
