* {
  box-sizing: border-box;
}

/* Each post as a box */
.entry {
  border: 3px solid black;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 20px 25px; 
}

img {
    display: block;
    border: black;
    text-align: center;
}

a {
text-decoration: none;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
  
  div {
    padding: 10px;
  }

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
   height:100%;
}

#header {
   padding:10px;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

.footer {
background-color: #d4af37;
}

  ul {
    text-align: center;
    margin: 10px;
    background: #d4af37;
  }
  
  li {
    display: inline;
    font: white;
    margin: 30px;
    font-size: 20px;
  }
  
  h1 {
    font-size: 40px;
   font-family: "Notable", sans-serif;
   color: #d4af37;
  }

h4 {
font-size: 20px;
text-align: center;
}

h5 {
text-align: center;
font-color: black;
font-size: 20px;
}

h3, h5 {
font-color: grey;
}

h3 {
font-size: 40px;
font-color: grey;
text-align: center;
}

p, li, h3, h4, h5, h6 {
 font-family: "Didact Gothic", sans-serif;
}

h2 {
 font-size: 70px;
 text-decoration: none;
 font-color: black;
font-family: "Wes", serif;
text-align: center;
}

/* unvisited link */
a:link {
	color: white;
}

/* visited link */
a:visited {
	color: black;
}

/* mouse over link */
a:hover {
	color: purple;
}

/* selected link */
a:active {
	color: pink;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid { 
  width: 25%;
  display: flex;
  float: right;
 margin-top: 90px;
padding-top: 40px;
}

#sticky {
  position: sticky;
  position: -webkit-sticky;
  width: 100px;
  height: 100px;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 70%;
  float: left;
  display: inline-block;
}

