 * {
  box-sizing: border-box;
}

/* Each post as a box */
  .entry {
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px; 
  }
  
.column {
  float: left;
  padding: 10px;
}

ul {
    text-align: center;
    margin: 10px;
    background: #d4af37;
  }
 
  li {
    display: inline;
    font: white;
    margin: 30px;
    font-size: 20px;
  }

.grid { 
 margin-top: 20px;
  width: 75%;
 margin-left: 15px;
float: left;
}
  
  h1 {
    font-size: 70px;
   font-family: "Notable", sans-serif;
   color: #d4af37;
  }

h2 {
font-size: 50px; 
font-family: "Notable", sans-serif;
color: #d4af37;
text-align: center;
 margin-top: 15px;
padding: 15px 15px;
}

.button {
  background-color: black;
  border: none;
  color: white;
  float: right;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button1 {
  font-size: 12px;
}

img {
float: left;
}

a {
text-decoration: none;
}

h3 {
font-family: "Wes", serif;
font-size: 40px;
float: right;
}

p, li, h5, h6 {
 font-family: "Didact Gothic", sans-serif;
}

h4 {
 font-size: 20px;
 text-decoration: none;
 font-color: grey;
 float: right;
}

p {
float: right;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
   height:100%;
}

#header {
   padding:10px;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

.footer {
background-color: #d4af37;
}

/* unvisited link */
a:link {
	color: white;
}

/* visited link */
a:visited {
	color: white;
}

/* mouse over link */
a:hover {
	color: black;
}

/* selected link */
a:active {
	color: pink;
}
