* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Each post as a box */
.entry {
  border: 3px solid black;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 20px 25px; 
}

img {
    display: block;
    border: black;
    text-align: center;
}

.button {
  background-color: black;
  border: none;
  color: white;
  float: right;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button1 {
  font-size: 12px;
}

a {
text-decoration: none;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
  
  .main {
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center;
  }
  
  div {
    border-radius: 20px;
    padding: 10px;
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
background-color: #d4af37;
font-color: white;
  text-align: center;
}
  
  ul {
    text-align: center;
    margin: 10px;
    background: #d4af37;
  }
  
  li {
    display: inline;
    font: white;
    margin: 30px;
    font-size: 20px;
  }
  
  h1 {
    font-size: 70px;
   font-family: "Notable", sans-serif;
   color: #d4af37;
  }

h2, h4 {
font-family: "Wes", serif;
}

h3, h5 {
font-color: grey;
}

h3 {
font-size: 20px;	
}

p, li, h3, h5, h6 {
 font-family: "Didact Gothic", sans-serif;
}

h2 {
 font-size: 40px;
 text-decoration: none;
 font-color: black;
}

/* unvisited link */
a:link {
	color: white;
}

/* visited link */
a:visited {
	color: black;
}

/* mouse over link */
a:hover {
	color: purple;
}

/* selected link */
a:active {
	color: pink;
}


